Code/
TabNine/
Docker\ Desktop/
arkrc
baloofilerc
c++tutorial-nativefier-bbfc5a/
*nativefier*/
*gtk*/
*gtk*
hyde/
Kitware/
Kvantum/
qt*/
swappy/
systemd/
swaylock/
QtProject.conf
hypr/
kde.org/
code-flags.conf
Android\ Open\ Source\ Project/
tmux/plugins/
Google/
google-chrome/
cfg_backups/
ookla/
VirtualBox/
Electron/
xsettingsd/
systemd/
pavucontrol.ini
kdeglobals
xfce4/
dconf/
lazy-lock.json
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
NvChad/lazy-lock.json
go/
github-copilot/
vlc/
waybar/
wlogout/
swappy/
libreoffice/
dunst/
menus/
nwg-look/
pulse/
rofi/
session/
